html
  body
    ul 
      h2 Todos: 
      each todo in todos
          li 
              h2=todo.name
              if todo.description
                  p.description
              p.completed="Completed: " + todo.completed 
